{% comment %}
    Renders a list of products from a collection

    Accepts:
    - collection: {Object} Collection Liquid object (required)

    Usage:
    {% include 'collection-grid-item', collection: collection %}
{% endcomment %}
{% if collection.image %}
  {%- assign collection_image = collection.image -%}
{% elsif collection.products.first and collection.products.first.media != empty %}
  {%- assign collection_image = collection.products.first.featured_media.preview_image -%}
{% else %}
  {% assign collection_image = blank %}
{% endif %}

<div class="collection-grid-item">
  <a href="{% if collection.products == empty %}#{% else %}{{ collection.url }}{% endif %}" class="collection-grid-item__link">
    {% unless collection_image == blank %}
      <div class="collection-grid-item__overlay box ratio-container lazyload js"
        data-bgset="{% include 'bgset', image: collection_image %}"
        data-sizes="auto"
        data-parent-fit="cover"
        data-image-loading-animation>
      </div>
    
      <noscript>
        <div class="collection-grid-item__overlay" style="background-image: url('{{ collection_image | img_url: '1024x1024' }}')"></div> 
      </noscript>
    {% else %}
      {% if collection == empty %}
        <div class="collection-grid-item__overlay">
          {% capture current %}{% cycle 1, 2, 3 %}{% endcapture %}
          {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
        </div>
      {% else %}
        <div class="collection-grid-item__overlay" style="background-image: url('{{ collection_image | img_url: '1024x1024' }}')"></div>
      {% endif %}
    {% endunless %}

    <div class="collection-grid-item__title-wrapper">
      <div class="collection-grid-item__title h3">
        {% if collection.title == blank %}
          {{ 'homepage.onboarding.collection_title' | t }}
        {% else %}
        {% endif %}
      </div>
    </div>
  </a>
</div>


<div style="margin-bottom: 20px;">
  
{% comment %}
    {% for product in collection.products %}
      {% assign variant_id = product.selected_or_first_available_variant.id %}
      {{ variant_id }},
    {% endfor %}
  
 {% for product in collection.products %}{{ product.selected_or_first_available_variant.id }}{% unless forloop.last %},{% endunless %}{% endfor %}
  
  {% assign my_array = "apples oranges peaches plums" | split: " " %}

{{ my_array.size }}
  
{% endcomment %}
  
  {% comment %}
  	<button type="submit" name="add"
      aria-label="{{ 'products.product.add_to_cart' | t }}"
      class="btn"
      onclick="addAllItems('{% for product in collection.products %}{% for variant in product.variants %}{% if variant.available %}{{ variant.id }},{% endif %}{% endfor %}{% endfor %}'); return false;"
      {% if settings.enable_ajax %}aria-haspopup="dialog"{% endif %}
      data-add-to-cart>
      <span data-add-to-cart-text>
          {{ 'products.product.add_to_cart' | t }}
      </span>
      <span class="hide" data-loader>
        {% include 'icon-spinner' %}
      </span>
    </button>
    {% endcomment %}
<!-- <div class="col-loading">
  <div class="col-loading-text"></div>
</div> -->

<div id="myModal" class="col-modal">
  <div class="col-modal-content">
    <div class="col-modal-header">
      <h2>Product Added Processing..</h2>
    </div>
    <div class="col-modal-body">
    </div>
    <p class="col-text"></p>
  </div>
</div>
  
  
<!--   <button type="submit" name="add" class="btn col_add_cart" onClick="add_cart();" data-var-id={{ variant_id }}>
    <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
  </button> -->
  
</div>